<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href='https://fonts.googleapis.com/css?family=League+Spartan' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js"></script>
  <title>welcome to, ai text-to-ppt 🪄</title>
</head>

<body>
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <header>
    <nav>
      <a href="#" class="logo">text-to-ppt</a>
      <div class="off-screen-menu">

        <li><a href="#">home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>

      </div>

      <nav>
        <div class="ham-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>


      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#contact">Contact Us</a></li>

      </ul>
    </nav>
  </header>


  <section class="banner">
    <div class="part1">
      <h2>Welcome to,</h2>
      <h1>ai text-to-ppt</h1>
      <p1><span>Convert your</span> idea into engaging presentation</p1>
      <p2>Develop an AI-powered tool that converts text into dynamic PowerPoint presentations, enhancing productivity
        and creativity. This project leverages natural language processing and design algorithms to automate slide
        creation, ensuring professional and visually appealing results with minimal user input.</p2>

      <button id="getStartedButton">Get Started</button>
    </div>
    <div class="part2">
      <dotlottie-player src="https://lottie.host/10e13a6e-cde6-41cf-ab81-fdee790df77d/Ks2pDCpoKL.json"
        background="transparent" speed="1" style="width: 500px; height: 500px" direction="1" playMode="normal" loop
        autoplay>
      </dotlottie-player>
    </div>
  </section>


  <section class="services">
    <h2 class="services-title">Se<span>rvic</span>es</h2>

    <div class="service-card">
      <div class="servicesp1">
        <dotlottie-player src="https://lottie.host/6743afaa-fe33-43a8-aee6-69313edce3f5/HJm0Bi1xck.json"
          background="transparent" speed="1" style="width: 400px; height: 400px" direction="1" playMode="normal" loop
          autoplay></dotlottie-player>
      </div>
      <div class="servicesp2">
        <h3><span>Automated</span> Presentation Creation</h3>
        <p>Automatic presentation creation is a feature offered by AI-driven platforms that enables users to quickly and effortlessly generate polished PowerPoint presentations from various input sources such as text documents, articles, reports, or even spoken content.</p>
      </div>
    </div>

    <div class="service-card1">
      <div class="servicesp2">
        <h3><span>Multilingual</span> Support</h3>
        <p>Multilingual support allows users to create presentations in languages other than their native language. This service employs AI-powered translation technology to ensure that the content is accurately translated while preserving the original context and formatting.</p>
      </div>
      <div class="servicesp1">
        <dotlottie-player src="https://lottie.host/77b4610c-de1a-49b5-85c4-be0df175865c/mttnGpzjHx.json"
          background="transparent" speed="1" style="width: 400px; height: 400px" direction="1" playMode="normal" loop
          autoplay></dotlottie-player>
      </div>
    </div>

    <div class="service-card">
      <div class="servicesp1">
        <dotlottie-player src="https://lottie.host/4766e38d-4191-4848-a6ae-0c9f3080d6d7/yCkpcJkNAB.json"
          background="transparent" speed="1" style="width: 400px; height: 400px" direction="1" playMode="normal" loop
          autoplay></dotlottie-player>
      </div>
      <div class="servicesp2">
        <h3><span>Collaboration</span> and Sharing Tools</h3>
        <p>What it is: Collaboration and sharing tools enable users to work together on presentations in real-time and simplify the process of sharing presentations with others. These tools are essential for teams, educators, and individuals who need to collaborate on presentations remotely or share them with clients, colleagues, or the public.</p>

          
          
          
      </div>
    </div>

    </div>
  </section>

  <section class="team">
    <div class="container1">
      <div class="row">
        <div class="section-title">
          <h2>OU<span>R TE</span>AM</h2>
        </div>
      </div>
      <div class="row">
        <div class="team-item">
          <img src="static\images\boy1.png" alt="team">
          <h3>Pramit Kumar<span>web developer</span></h3>
          <div class="social-links">
            <a href="https://www.instagram.com/heal_me_________"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/heal_me_________"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="team-item">
          <img src="static\images\boy2.jpeg" alt="team">
          <h3>Sudheer Kumar<span>UI designer</span></h3>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="team-item">
          <img src="static\images\boy3.jpeg" alt="team">
          <h3>Sudhanshu<span>Team Management</span></h3>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="team-item">
          <img src="static\images\boy1.png" alt="team">
          <h3>Avadhesh<span>Data Collector</span></h3>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    const hamMenu = document.querySelector(".ham-menu");

    const offScreenMenu = document.querySelector(".off-screen-menu");

    hamMenu.addEventListener("click", () => {
      hamMenu.classList.toggle("active");
      offScreenMenu.classList.toggle("active");
    });
    // Wait for the DOM content to be fully loaded
    document.addEventListener("DOMContentLoaded", function () {
      const getStartedButton = document.getElementById("getStartedButton");
      getStartedButton.addEventListener("click", function () {
        window.location.href = "/form";
      });
    });
  </script>


  <div class="form-container">
    <div class="form">
      <h2>CO<span>NTA</span>CT</h2>
      <div class="mainpart">
        <div class="part1">
          <input placeholder="Name" type="text" class="input">
          <input placeholder="Email" id="mail" type="email" class="input">
        </div>
        <div class="part2">
          <textarea placeholder="Say Hello" rows="10" cols="30" id="message" name="message" class="textarea"></textarea>
        </div>
      </div>

      <div class="button-container">
        <div class="send-button">Send</div>
        <div class="reset-button-container">
          <div id="reset-btn" class="reset-button">Reset</div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Text To PPT</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#">privacy policy</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Get Help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">shipping</a></li>
            <li><a href="#">returns</a></li>
            <li><a href="#">payment options</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Language</h4>
          <ul>
            <li><a href="#">English</a></li>
            <li><a href="#">Hindi</a></li>
            <li><a href="#">Bhojpuri Bhi Chalega</a></li>
            <!-- <li><a href="#"></a></li> -->
          </ul>
        </div>
        <div class="footer-col">
          <h4>Follow Us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>

      </div>

    </div>
  </footer>
  <div class="footerl">
    <div class="footer-line"></div>
    <p>&copy; 2024 ai text-to-ppt, all rights reserved.</p>
  </div>

</body>

</html>